<nav class="navbar navbar-toggleable-md navbar-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><%= fa_icon "bars 2x", class: 'nav-toggle' %>
  </button>
  <%= link_to 'Michelle Gerber', root_path, class: 'navbar-brand' %>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto nav-links'>
      <%= nav_helper 'nav-link', 'li' %>
    </ul>
  </div>
</nav>