<div class="container">
	<div class="about-container">
		<div class="container1"> 
			<h1>About MEEEEEEE</h1>
			<img class="me1" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343075/pizzame.jpeg">
			<p> Hello again! I pride myself in an inquisitive nature that has allowed for a diverse background rooted in current technology ( I love Rails ), asylum architecture and planning, and the American Education system. Seems diverse, no? Well, one can view all these in terms of code ... </p>
		</div>

		<div class="container1"> 
			<img class="me2" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343075/batzback.png">
			<p>My first foray into technology was as a very young child, accidentally destroying a database on my father's computer. Years later, I learned that the language was cobal and there was a very good reason for my not being allowed near this machine for over a year. As an adult, I started to managed the data for system wide compliance in one of the NYC schools, later transitioning to an edtech firm. Happily, I now look at code from a comforting ... blueprint approach.</p><img class="me4"src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343075/greystone.jpg"> <p>Because, really, everything from the code of a website to the bat-shape of a kirkbride building to the cells of blade of grass - all have that in common. All have a basic blueprint. One does hope that it stays DRY.</p>
		</div>

		<div class="container1"> 
			<img class="me3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/343075/urbexme.jpg"> 
			<p>If interested in my fascinations and obsessions outside of pure programming, your paragraph! Documentation and photographing of abandonments. Absurdism. And Atlantic Beach in Amagansett, NY.</p>
		</div>
	</div>
	
</div>
