<div class="container">
<div id="contact-card">
		<h2>Contact Me!!!</h2>
		<h5>For All Your</h5>
		<p>Full Stack Web Developer neeeeds</p>
			<p>Yes, Yes! Yes! Please do contact me with work opportunities together! I hope you love pizza and coffee. Helpful Links:</p><%= mail_to "michellegerber@lightbulbproductions.net" %><br><br>
			<a href="http://twitter.com/pinklantern" target="blank"><%= fa_icon "twitter", class: "fa-2x" %></a>
			<a href="https://www.linkedin.com/in/michellegerber/" target="blank"><%= fa_icon "linkedin", class: "fa-2x" %></a>
			<a href="http://github.com/lightbulbproductions" target="blank"><%= fa_icon "github-alt", class: "fa-2x" %></a>
		</div>
	</div>
</div>
