.navbar {
	font-family: AllerDisplay, Aller_Rg, Snowfall, sans-serif;
  padding: 2rem;
}

.navbar-brand {
  color: #D4AF37;
  font-size: 2em;
  margin-left: 10%;
}
.navbar-brand:hover {
	 transform: scale(1.8) rotate(180deg);
}
.nav-link {
  //margin-right: 5%;
  //padding-right: 4em;
  font-size: 1.5em;
  font-weight: 500;
  color: rgb(212, 175, 55);
}

.nav-link:hover,
.nav-link:focus {
  color: #D4AF37;
  background-color: transparent;
  transform: scale(1.5) rotate(90deg);
}

.nav-link.active {
  color: rgb(212, 175, 55);
  border-bottom: 1px solid rgb(212, 175, 55);
  transform: scale(1) rotate(180deg);
  &:hover {
    transform: scale(1.8) rotate(180deg);
    color: #DADC08;
  }
}
.navbar-collapse {
	padding-left: 40%;
}
.nav-toggle {
  color: rgb(238,238,238);
  margin-top: -6px;
}

/*.navbar {
	font-family: Snowfall, verdana, arial, helvetica, sans-serif;
  padding: 2rem;
}
.navbar-brand {
  color: #D4AF37;
  font-size: 2rem;
  margin-left: 10%;
}
.navbar-brand:hover {
	 transform: scale(1.8) rotate(180deg);
}
.nav-link {
  //margin-right: 5%;
  //padding-right: 4em;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(212, 175, 55);
}

.nav-link:hover,
.nav-link:focus {
  color: #D4AF37;
  background-color: transparent;
  transform: scale(1.5) rotate(90deg);
}

.nav-link.active {
  color: rgb(212, 175, 55);
  border-bottom: 1px solid rgb(212, 175, 55);
  transform: scale(1) rotate(180deg);
  &:hover {
    transform: scale(1.8) rotate(180deg);
    color: #DADC08;
  }
}
.navbar-collapse {
	padding-left: 40%;
}
.nav-toggle {
  color: rgb(238,238,238);
  margin-top: -6px;
}

*/