/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
}*/
.inner {
	/*padding: 1rem;*/
}
.container {
	margin-top: 1rem;
	margin-bottom: 2rem;
	//padding-bottom: 2rem;
	background-position: center center;
	background: image-url('amagansettnight.jpeg') no-repeat;
	background-size: 100% 100%;
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@media (min-width: 992px) {
.container {
    width: 100%;
    display: block;
    position: relative;
    height: 1156px;
	}
}
 .about-container {
	//height: 80%;
	height: auto;
	margin: 1rem;
	
	}

	.about-container p {
	    padding: 10px 10px;
	    font-size: 18px;
	    letter-spacing: .5px;
	    text-align: left;
	    color: #7b7d80;
	    line-height: 1.85em;
	}
		.about-container h1 {
		    text-align: left;
		    padding: 0 0 1rem 0;
		    font-size: 2em;
		    color: #b29600;
		    font-family: sans-serif;
		    display: block;
		}
  
		.container1 {
		    background-color: #F5F5DC;
		    padding: 2rem;
		    float: left;
		    margin-right: .75rem;
		    margin-left: .75rem;
		    margin-top: 2rem;
		    border: 3px solid #fafafa;
		    border: 3px solid rgba(250,250,250,0.9);
		    -webkit-box-shadow: 15px 10px 5px rgba(12,24,12,0.9);
		    box-shadow: 15px 10px 5px rgba(12,24,12,0.9);
		    opacity: .9;
		}
    .container1:hover {
        background-color: rgba(255,250,225,.9); 
        -webkit-transform: rotate(.5deg);
        -moz-transform: rotate(-.5deg);
        -ms-transform: rotate(-.5deg);
        -o-transform: rotate(-.5deg);
        transform: rotate(.25deg);
    }
   

    img.me1 {
		max-height: 200px;
        max-width: 230px;
        margin: 0 auto;
        float: left;
padding: 0px 30px 0px 0px;
    }


    img.me2 {
       max-width: 230px;
        float: right;
      padding: 10px 20px;
        margin:0 auto;
    }
img.me4 {
 max-width: 200px;
        margin: 0 auto;
        float: left;
        padding: 20px 20px;
}
    img.me3 {
      max-width: 220px;
        float: left;
        padding: 10px 20px;
        border-radius: 70%;
       
}
	
