@import "about";
@import "font-awesome";
@import "bootstrap";

html,
body {
  width: 100%;
  height: 100%;
  font-family: veteran typewriter, verdana, arial, helvetica, sans-serif;
}

body {
  text-align: left;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  background: linear-gradient(88deg, #0e0910, #01010d, #2B1A44);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
  @keyframes AnimationName { 
      0%{background-position:99% 0%}
      50%{background-position:2% 100%}
      100%{background-position:99% 0%}
  }
}



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #812fa8;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #E0E0E0;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color:#020721;
  border: .01rem solid #ccc45d;
}

p, ol, ul, td {
  font-family: veteran typewriter, verdana, arial, helvetica, sans-serif;
  //line-height: 3rem;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.inner-cover {
	color: rgb(224, 197, 112);
	padding: 10rem;
	margin-top: 2rem;
}
/* Padding for spacing */
.inner {
  padding: 1rem;
}

.lead {
	padding-top: 1em;
}


.card-block {
 // color: black;
  text-align: left;
}


.iframe-rwd  {
position: relative;
padding-bottom: 85.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.contact-container  .list-unstyled li {
	text-align: left;
	//padding-top: 10px;
}
.contact-container {
	font-family: Snowfall, verdana, arial, helvetica, sans-serif;
	border: 6px solid #949599;
	padding: 2rem;
	margin-top: 100px;
	margin-right: 10%;
	margin-left: 10%;
	line-height: 3rem;
	background-color: rgba(229,229,229,.3);
	color: rgb(217, 215, 204);
	//font-size: 1.5rem;
}
.contact-container p {
	margin-top: 20px;
	text-align: pull-left;
	color: pink;
}
.contact-container a {
	color: rgb(217, 215, 204);
	padding-left: 20px;
	font-weight: 500;
}

.contact-container h2 {
	font-family: Snowfall, verdana, arial, helvetica, sans-serif;
	//font-size: 4.5rem;
	color: rbg(217, 215, 204);
    -webkit-animation: color 5s infinite;
    -moz-animation: color 5s infinite;
    -o-animation: color 5s infinite;
    -ms-animation: color 5s infinite;
    animation: color 5s infinite;
    -webkit-animation: color 5s infinite;
    -moz-animation: color 5s infinite;
    -o-animation: color 5s infinite;
    -ms-animation: color 5s infinite;
    animation: color 5s infinite;

    @-webkit-keyframes color {
           0% { color: #8B008B; }
           50% { color: #E0C570; }
           100% { color: #989385; }
       }
       @-moz-keyframes color {
           0% { color: #989385; }
           50% { color: #E0C570; }
           100% { color: #989385; }
       }
       @-ms-keyframes color {
           0% { color: #989385; }
           50% { color: #8B008B; }
           100% { color: #989385; }
       }
       @-o-keyframes color {
           0% { color: #989385; }
           50% { color: #E0C570; }
           100% { color: #989385; }
       }
       @keyframes color {
           0% { color: #989385; }
           50% { color: #E0C570; }
           100% { color: #8B008B; }
       }
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('guilloche2.jpg') no-repeat;
  background-size: cover;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}
.app-footer {
    color: #b29600;
    text-align: center;
		margin-left: auto;
		margin-right: auto;
}



@media (min-width: 800px) {
.container {
    width: 100%;
    display: block;
    position: relative;
    height: 1156px;
}
}

@media (min-width: 340px) {
	.container {
    width: 100%;
    display: block;
    position: relative;
    height: 1156px;
	}
}

@media (min-width: 40em) {
  .mastfoot {
   // position: fixed;
    bottom: 0;
		margin-left: auto;
		margin-right: auto;
		
  }
}
@media (min-width: 62em) {
  .masthead,
  .mastfoot,
 .container {
    width: 65rem;
  }
}
.navbar {
  padding: 2rem;
}
.navbar-brand {
  color: #D4AF37;
  font-size: 2rem;
  margin-left: 10%;
}
.navbar-brand:hover {
	 transform: scale(1.8) rotate(180deg);
}
.nav-link {
  //margin-right: 5%;
  //padding-right: 4em;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(212, 175, 55);
}

.nav-link:hover,
.nav-link:focus {
  color: #D4AF37;
  background-color: transparent;
  transform: scale(1.5) rotate(90deg);
}

.nav-link.active {
  color: rgb(212, 175, 55);
  border-bottom: 1px solid rgb(212, 175, 55);
  transform: scale(1) rotate(180deg);
  &:hover {
    transform: scale(1.8) rotate(180deg);
    color: #DADC08;
  }
}
.navbar-collapse {
	padding-left: 40%;
}
.nav-toggle {
  color: rgb(238,238,238);
  margin-top: -6px;
}

